.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  background: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.slideshow--isMobile {
  background: #fff;
  position: relative;
  overflow: auto;
}

.slideshow__inner-frame {
  width: 100%;
  flex: 1;
  position: relative;
}

.slideshow__manifest-cabinet-holder {
  padding-top: 8px;
  background: #e9e9e9;
  z-index: 1000;
  height: 100px;
}

.slide__overlay {
  display: none;
}
