.main-menu {
  text-align: right;
}

.main-menu__list {
  list-style: none none inside;
  margin: 0;
}
.main-menu__list-item {
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 0;
}

.main-menu__link {
  font-weight: normal;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 0;
  font-size: 16px; /* TODO: rem */
}