.main-menu {
  text-align: right;
}

.main-menu__list {
  list-style: none none inside;
  margin: 0;
}
.main-menu__list-item {
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 0;
}

.main-menu__link {
  font-weight: normal;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 0;
  font-size: 1rem; /* TODO: rem */
}

@media screen and (max-width: 980px) {
  .main_menu {
    align-items: stretch;
  }
  .main-menu__list {
    display: block;
  }
  .main-menu__list-item {
    display: block;
    text-align: center;
    width: 100%;
    margin-left: 0;
  } 
  .main-menu__link {
    padding: 1rem;
    display: inline-block;
    width: 100%;
  }
}