.manifest-cabinet {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  &__scroll {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
  &__thumb-list {
    display: flex;
    align-items: flex-start;
  }
  &__thumb {
    margin: 0px 8px;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    background: transparent;
    transform: scale(1.0);
    transition: transform 0.15s ease-out;
    
    &--selected {
      //border: 8px solid white;
      //margin: 0;
      transform: scale(1.1);
      transition: transform 0.15s ease-out;
    }
  }
  &__thumb-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    outline: 0;
  }
  &__thumb-missing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    vertical-align: middle;
  }
}