.language-selector {
  display: flex;
  align-items: baseline;
  font-size: 1rem;
  color: white;
  font-weight: normal;
  cursor: pointer;
  text-transform: uppercase;

  &__translation {
    text-decoration: none;
    border: none;
    
    &--not-allowed {
      color:grey;
      margin: 0px;
      cursor: initial
    }
  }
}

@media screen and (max-width: 980px) {
  .language-selector {
    padding: 1rem;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
