.language-selector, 
.language-selector__translation {
  font-weight: normal;
  color: white;
  font-size: 16px; /* TODO: rem */
}

.language-selector__translation {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 0;
  font-size: 16px; /* TODO: rem */
}

@media screen and (max-width: 960px) {
  .language-selector {
    padding: 1rem;
    display: inline-block;
    width: 100%;
    text-align: center;
  } 
}
