.canvas-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  padding: 1rem;
  z-index: 1;
  @media (max-width: 980px) {
    padding:0.5rem;
  }
  &__content {
    // width: calc(100% - 2rem);
    // height: calc(100% - 2rem);
    height:100%;
    // background: grey;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__close {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: black;
    border: none;
    outline: none;
    cursor: pointer;
    svg polygon {
      fill: #fff;
    }
  }
  &__slide-transition-wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  &__inner-frame {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__essay {
    min-height: calc(100vh - 1rem);
    @media (min-width: 980px) {
      min-height: calc(100vh - 2rem);
    }

    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    &+.canvas-modal__close {
      background: transparent;
      svg polygon {
      fill: #000 !important;
    }
  }
    main {
      margin-top:4rem;
      max-width:55rem;

    }
  }

  &__content-slide {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  &__top-part {
    background: #373737;
    flex: 1;
  }
  .slide__overlay {
    display: none;
  }
  &__info-and-nav {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100px;
    max-height: 150px;
    width: 100%;
    background: black;
    color: white;
    overflow-y:auto;
  }
  &__info {
    flex: 1;
    padding: 36px;

    p {
      font-size: unset;
      line-height: unset;
    }
  }
  &__info-title {
    text-transform: uppercase;
  }
  &__nav {
    width: 130px;
    overflow: hidden;
    position: relative;
    padding: 36px 20px 36px 0;
    box-sizing: content-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      background: transparent;
      width: 40px;
      height: 40px;
      border: 0;
      outline: 0;
      cursor: pointer;
      padding: 6px;
      box-sizing: border-box;
      margin: 0 !important;
    }
  }
  .slide__viewport {
    background: #373737;
  }
}
