.openseadragon-canvas {
  video {
    object-position: center top;
    width: 100%;
  }
  .active {
    border: 2px dashed red;
  }
}

.canvas-panel__video-styles {
  width: 100%; 
  height: 100%;
  border: 0;
}