@font-face {
  font-family: 'f-medium';
  font-weight: normal;
  src: url('../static/fonts/founders-grotesk-web-medium.woff2') format('woff2'),
       url('../static/fonts/founders-grotesk-web-medium.woff') format('woff')
}

@font-face {
  font-family: 'f-medium-italic';
  font-weight: normal;
  src: url('../static/fonts/founders-grotesk-web-medium-italic.woff2') format('woff2'),
       url('../static/fonts/founders-grotesk-web-medium-italic.woff') format('woff')
}

@font-face {
  font-family: 'f-regular';
  font-weight: normal;
  src: url('../static/fonts/founders-grotesk-web-regular.woff2') format('woff2'),
       url('../static/fonts/founders-grotesk-web-regular.woff') format('woff')
}

@font-face {
  font-family: 'f-regular-italic';
  font-weight: normal;
  src: url('../static/fonts/founders-grotesk-web-regular-italic.woff2') format('woff2'),
       url('../static/fonts/founders-grotesk-web-regular-italic.woff') format('woff')
}

@font-face {
  font-family: 'f-mono';
  font-weight: normal;
  src: url('../static/fonts/founders-grotesk-mono-web-regular.woff2') format('woff2'),
       url('../static/fonts/founders-grotesk-mono-web-regular.woff') format('woff')
}

@font-face {
  font-family: 'f-mono-medium';
  font-weight: normal;
  src: url('../static/fonts/founders-grotesk-mono-web-medium.woff2') format('woff2'),
       url('../static/fonts/founders-grotesk-mono-web-medium.woff') format('woff')
}

// blocks
$pico: "(max-width: 350px)";
$mini-down: "(max-width: 600px)";
$small: "(min-width: 601px) and (max-width: 980px)";
$small-up: "(min-width: 601px)";
$small-down: "(max-width: 980px)";
$medium: "(min-width: 981px) and (max-width: 1230px)";
$medium-up: "(min-width: 981px)";
$medium-down: "(max-width: 1229px)";
$large-up: "(min-width: 1230px)";
$large: "(min-width: 1230px) and (max-width:1499px)";
$xlarge: "(min-width: 1500px)";

html {
  background: #e9e9e9;
  color: black;
  font-family: 'f-regular', 'Courier New', Courier, monospace;
  line-height: 1.28;
}

html {
  @media #{$large-up} {
    font-size: 100%;
  }

  @media #{$medium} {
    font-size: 80%;
  }

  @media #{$small} {
    font-size: 90%;
  }

  @media #{$mini-down} {
    font-size: 90%;
  }

  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'f-medium';
  font-weight: normal;
}

h1+h2 {
  // margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size:1.5rem;
}

article.long {
  ul,
  ol {
    font-size: 1.5rem;
    @media #{$small-down} {
      font-size:1.2rem;
    }
    line-height: 1.21;
    &+p {
      margin-top:1em;
    }
    // letter-spacing: 0.3px;
  }

}

main {

  max-width: calc(1200px + 2rem);
  margin: 3rem auto;
  padding: 0.5rem;

  >h1,
  >h2,
  >h3,
  >h6,
  >p,
  >pre,
  >ol,
  >ul,
  .footnotes {
    padding: 0 2rem;
  }

  p {
    font-size: 1.5rem;

    @media #{$small-down} {
      font-size: 1.2rem;
    }

    line-height: 1.21;

    &+p {
      margin-top: 1em;
    }

    // letter-spacing: 0.3px;
  }

  em {
    font-family: 'f-regular-italic';
    font-weight: normal;
    font-style: normal;
  }

  strong {
    font-family: 'f-medium';
    font-weight: normal;
    font-style: normal;
  }

  blockquote {
      font-family: 'f-regular-italic';
  }

  article {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    &>p,
    .footnotes,
   &>pre,
   &>ol,
   &>ul {
    padding: 0;
    max-width: 55rem;
    margin-left:auto;
    margin-right:auto;
   }

  }
}

a.footnote-backref, a.footnote-ref {
	padding-left: 0.2rem;
	border-bottom: none;
	color:#1d1c73;
}

article.long {
  a {
    font-family: 'f-regular', 'Courier New', Courier, monospace;
    text-decoration: underline;
    border:none;
    color:#1d1c73;
  }
  ul,
  ol {
    li {
      margin-left:2rem;
    }
    margin-bottom: 3rem;
  }

}

h6 {
  font-family: 'f-regular';
  font-size: 1.3rem;
  font-weight: 500;
  // text-align: center;
  max-width: 60rem;

  @media #{$small-down} {
    max-width: 30rem;
  }

  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  margin-bottom:2rem;
  line-height: 1.4;

  a {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}

.listing-size-1-1,
.listing-size-1-2,
.listing-size-2-1,
.listing-size-2-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;

  clip-path: polygon(calc(0% + 1rem) 0%,
      calc(100% - 1rem) 0%,
      100% 1rem,
      100% calc(100% - 1rem),
      calc(100% - 1rem) 100%,
      1rem 100%,
      0% calc(100% - 1rem),
      0% 1rem);
  background: black;
}


.listing-size-1-1,
.listing-size-1-2,
.listing-size-2-1,
.listing-size-2-2 {
  width: 100%;
  height: auto;
  min-height: 300px;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
}


.listing-size-1-1>p,
.listing-size-1-2>p,
.listing-size-2-1>p,
.listing-size-2-2>p {
  padding: 100px;
}

@media screen and (min-width: 640px) {
  .listing-size-1-1 {
    width: 33%;
    height: 33vw;
  }

  .listing-size-1-2 {
    width: 33%;
    height: 66vw;
  }

  .listing-size-2-1 {
    width: 66%;
    height: 33vw;
  }

  .listing-size-2-2 {
    width: 66%;
    height: 66vw;
  }

  .listing-size-1-1,
  .listing-size-1-2,
  .listing-size-2-1,
  .listing-size-2-2 {
    clip-path: polygon(calc(0% + 1rem) 0%,
        calc(100% - 1rem) 0%,
        100% 1rem,
        100% calc(100% - 1rem),
        calc(100% - 1rem) 100%,
        1rem 100%,
        0% calc(100% - 1rem),
        0% 1rem);
  }
}

.bg-yellow {
  background-color: #e1c136;
}


.light,
.light a,
.light a span {
  color: white;

}


.cover-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;

  // color: black;
  text-decoration: none;
  // font-family: georgia, serif;
  // font-weight: bold;
  // font-size: 2rem;
  // line-height: 1.2;
  // text-align: center;
  padding: 1.5rem;
  background-size: cover;
  background-position: center;
  margin: 0;
  border-bottom: 0;

  .content {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-between;

  }

  &:hover {
    .image {
      img {
        // transform: scale(1.15);
      }
    }
  }

  .image {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {

      // transition:transform 0.2s ease;
      transform: scale(1.1);
    }

    img.bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
    }
  }

  @media #{$small-down} {
    position: relative;
    grid-row: auto / span 4;
    height: 400px;
  }
}


.cover-link {
  .image img {
    transition: transform 1s ease;
  }

  &:hover {
    .image img {
      transform: scale(1.13)
    }
  }
}

.collection-item {
  .image img {
    transition: transform 1s ease;
  }

  &:hover {
    .image img {
      transform: scale(1.3);
    }
  }
}

.cover-link {
  .image img {
    transition: transform 1s ease;
  }

  &:hover {
    .image img {
      transform: scale(1.13)
    }
  }

  .image:after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    transition: opacity 0.2s ease;
    opacity: 0.9;
  }
}

.block.tint {
  color: white;
}

.block.yellow.tint .image:after {
  background-color: #e1c136;
}

.block.copper.tint .cover-link .image:after {
  background-color: rgba(235, 113, 74, 1);
}

.block.purple.tint .cover-link .image:after {
  background-color: #8658e0;
  ;
}

// .block:nth-child(2n+1) .cover-link:after {
//   background: #e1c136;
// }
// .block:nth-child(2n) .cover-link:after {
//   background: #ff7945;
// }

// .block:nth-child(3n) .cover-link:after {
//   background: #50b8c1;
// }

// .cover-link>span {
//   position: absolute;
//   display: block;
//   top: 0;
//   left: 0;
//   width: 100%;
//   text-align: center;
//   text-transform: uppercase;
//   color: black;
//   font-weight: bold;
//   padding: 8px 0;
//   //font-family: 'Courier New', Courier, monospace;
//   font-family: 'f-mono';
//   font-size: 1rem;
// }

.footnotes li p {
  display: inline;
}

.object-listing {
  margin: 0;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.object-link {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 50%;
  min-height: 300px;
}

.object-link__image {
  width: 50%;
  display: inline-block;
  position: relative;
  object-fit: cover;
  // max-height: 300px;
}

.object-link__details {
  width: 50%;
  padding: 0 28px;
}

.object-link .object-link__header {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.maintitle {
  font-family: 'f-medium';
  font-size: 2.3rem;
  text-align: center;
}

.text {
  font-family: 'f-regular';


  h1, h2, h3 {
    font-family: 'f-mono';
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.25em;
    margin-bottom: 1.55em;
  }
}

.caption {
  font-family: 'f-mono';
  text-align: center;
}

.boxtitle {
  font-family: 'f-mono';
  text-align: center;
  text-transform: uppercase;
}

a {
  font-family: 'f-mono';
  // font-size: 0.8em;
  line-height: 1.2;
  color: inherit;
  text-decoration: none;
  border-bottom: 0.1em solid;
  // text-transform: uppercase;
}

button.readmore {
  color: #fff;
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  border-bottom: 0.1em solid;
}

$gw: 6.248rem; // basic unit for the grid
$width: 1rem; // width of the chamfered edges

//grid based on fixed px dimensions 12 columns wide

@for $i from 1 through 12 {
  @media #{$medium-up} {
    .w-#{$i} {
      grid-column: auto / span #{$i};
      width: #{$i*6.25}rem;
    }

    .h-#{$i} {
      grid-row: auto / span #{$i};
      height: #{$i*6.25}rem;
    }

    .w-min-#{$i} {
      grid-column: auto / span #{$i};
      width: #{$i*6.25}rem;
      min-height: #{$i*6.25}rem;
    }

  }

  @media #{$small-down} {
    .aspectratio-square {
      padding-bottom: 100%;
    }
  }
}

.markdown-article {
  @media #{$medium-up} {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @media #{$small-down} {
    margin-top: 2rem;
    padding: 1rem;
  }
}

.blocks {
  margin: 1rem auto;

  .heading {
    text-transform: uppercase;
    font-family: 'f-mono';
  }

  .facts {
    font-family: 'f-regular-italic';
  }

  .left {
    display: flex;
    flex-direction: row-reverse;

    .caption {
      text-align: left;
    }

    .info {
      display: block;

      @media ($small-down) {
        .right{
          transform: rotate(90deg);
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: row;

    .info {
      display: block;
    }
  }

  @media #{$medium-up} {
    display: grid;
    grid-template-columns: repeat(12, #{$gw});
    grid-auto-rows: #{$gw};
    // grid-auto-rows: minmax(8%, auto);
    // width:12*$gw;
    align-content: center;
    justify-content: center;
    /* adjusted */
  }

  &--auto-height {
    grid-auto-rows: auto;
  }

  .margin {
    margin-bottom: 2rem;
  }

  @media #{$small-down} {
    & {
      max-width: 30rem;
      margin: 0 auto;
    }

    .left {
      display: flex;
      flex-direction: column;
    }

    .right {
      display: flex;
      flex-direction: column;
    }
  }

  .block {
    position: relative;
    overflow: hidden;
    margin-right: -1px;
    margin-bottom: -1px;

    p {
      font-size: 1rem;
      line-height: 1.3rem;
    }
  }

  .block--align-right {
    @media #{$medium-up} {
      display: inline-flex;
      align-items: flex-end;
      justify-content: flex-start;
      flex-direction: column;

    }
  }

  .title,
  .info {
    padding: 1.5rem;
  }

  .title {
    background-color: rgb(225, 193, 54);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

  }

  .title--fountain-blue {
    background-color: #50b8c1;
  }

  .title--pomegranate {
    background-color: #e64616;
  }

  .info {
    .caption, .boxtitle {
      margin-bottom: 1.5rem;
    }

    background-color: #000;
    color:#fff;
    overflow-y:auto;

  }

  .image {
    img {
      vertical-align: top;
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
    }

    .caption {
      color: white;
      padding: 0 2rem;
      position: absolute;
      text-align: center;
      bottom: 1rem;
      left: 0;
      width: 100%;
    }
  }

  .article {
	background-color: #e1c136;
    padding: 1.5rem;

    a {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      align-items: center;
      border-bottom: none;
    }
  }

  @media #{$medium-up} {
    .block {
      &.row {
        display: flex;
      }

      // caption and image changes order on desktop
      // this way the order remains on mobile
      &.caption-left {
        flex-direction: row-reverse;
        text-align: left;
      }

      &.left {
        flex-direction: row-reverse;
        text-align: left;

        img {
          object-fit: unset;
        }
      }

      &.right {
        img {
          object-fit: unset;
        }
      }

      &.column {
        display: flex;
        flex-flow: column;
      }

      &.bottom {
        display: flex;
        flex-flow: column;
      }


      button.readmore,
      a.readmore {
        display: inline-block;
        margin-top: 1rem;

      }
    }
  }

}

// this only works in new browsers but should fallback gracefully
.cutcorners {
  clip-path: polygon(calc(0% + #{$width}) 0%,
    calc(100% - #{$width}) 0%,
    100% #{$width},
    100% calc(100% - #{$width}),
    calc(100% - #{$width}) 100%,
    #{$width} 100%,
    0% calc(100% - #{$width}),
    0% #{$width});
}

//svg arrow
.arrow {
  width: 1.4rem;
  margin: -0.15rem;

  svg {
    transform-origin: 50% 50%;
    width: 100%;
    height: 100%;

    // margin:-3px;
    path {
      fill: #fff;
    }
  }

  margin-bottom: 1rem;

  &.up {
    transform: rotate(90deg);
    margin-left: -0.4rem;
  }

  &.left {
    @media #{$small-down} {
      transform: rotate(90deg);
    }

  }

  &.right {
    transform: rotate(180deg);

    @media #{$small-down} {
      transform: rotate(90deg);
    }
  }

  &.modal-right {
    transform: rotate(180deg);

    @media #{$small-down} {
      transform: rotate(270deg);
    }
  }
}

.canvas-preview {
  width: 100%;

  overflow: hidden;
  position: relative;

  &__flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
    background: #373737;
    text-align: left;
  }

  &__center {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

@media #{$medium-up} {
  .canvas-preview {
    position: absolute;
    height: 100%;
  }
}

@media #{$small-down} {
  .maintitle {
    line-height: 2.3rem;
    margin-top: 0.6rem;
  }
}

.collection-item {
  &:hover {
    .image img {
      // transform: scale(1.25);
    }
  }

  .image {
    img {
      // transition: transform 1s ease;
      transform: scale(1.1);
      object-fit: cover;
    }

    margin-bottom: 1rem;
  }

  padding-bottom:2rem;
}

.collection-list {
  &__summary {
    font-family: 'f-mono';
    line-height: 1.25;
  }

  &__label {
    font-family: 'f-mono';
    line-height: 1.25;
  }
}

.metadata-label {
  font-family: 'f-mono-medium';
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
}

.metadata-value {
  font-family: 'f-regular';
  font-size: 1.625rem;
  line-height: 2rem;
}

.github-link {
  text-decoration: none;
  border: 0;
  cursor: pointer;
  font-size: 0.85rem;
  display: inline-block;

  border-bottom: 0.1em solid;

  svg {
    width: 1.6rem;
    height: 1.6rem;
    vertical-align: baseline;
  }
}
